.App {
  text-align: center;
}

.cards {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  border: 1px solid black;
  margin: 1%;
  width: 33%;
  height: 12vh;
}
.card .header {
  display: flex;
}

.card img {
  width: 20%;
}
